<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js" type="application/javascript"></script>
    <style>
        .weatherModule
        {
            width: 550px;
            height: 500px;
            margin: 10px;
            font-size: 21px;
            font-style: italic;
            font-family: Candara;
            background-color: lightblue;
        }
    </style>
</head>

<body>
<div ng-app="weather" ng-controller="weatherctrl">
    <b>State Code: </b>  <input type="text" ng-model="statecode" > &nbsp;
    <b>City Name: </b><input type="text" ng-model="cityname"> &nbsp;
    <button id="btn" ng-click="getWeather()"> Show Weather for 5 hours </button>
    </br>
    <div  class="weatherModule">
        <b>{{currentweather[0]}}</b> <br>
        <img height="30px" src={{currentIcon[0]}} > <br>

        <b>{{currentweather[1]}}</b> <br>
        <img height="30px" src={{currentIcon[1]}} > <br>

        <b>{{currentweather[2]}}</b> <br>
        <img height="30px" src={{currentIcon[2]}} > <br>

        <b>{{currentweather[3]}}</b> <br>
        <img height="30px" src={{currentIcon[3]}} > <br>

        <b>{{currentweather[4]}}</b> <br>
        <img height="30px" src={{currentIcon[4]}} > <br>
    </div>


</div>

<script>
    angular.module('weather',[])
        .controller('weatherctrl', function($scope, $http) {
            console.log("hi");
            $scope.getWeather = function() {
                 $http.get('http://api.wunderground.com/api/4bbbc25f4f5946dd/hourly/q/'+$scope.statecode+'/'+$scope.cityname +'.json').success(function(data) {
                    temp=[];
                    weathers=[];
                    icon=[];
                    console.log(data);

                    for (i=0;i<5;i++)
                     {
                         temp[i] =data.hourly_forecast[i].temp.english ;
                         weathers[i]=data.hourly_forecast[i].condition;
                         icon[i]= data.hourly_forecast[i].icon_url;
                     }

                     $scope.currentweather=[];
                     for (j=0;j<5;j++) {
                         $scope.currentweather[j]= "Temperature in " + $scope.cityname + " for the next hour is - " + temp[j] + " F and " + weathers[j] ;
                     }
                     $scope.currentIcon=[];
                     $scope.currentIcon= icon;

                })
            }

        });
</script>

</body>

</html>