<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js" type="application/javascript"></script>
    <!--code for styling of web page-->
    <style>
        .weatherModule
        {
            width: 550px;
            height: 500px;
            margin: 10px;
            font-size: 21px;
            font-style: italic;
            font-family: Candara;
            background-color: lightblue;
        }
    </style>
</head>

<body>
<div ng-app="weather" ng-controller="weatherctrl">
    <b>State Code: </b>  <input type="text" ng-model="statecode" > &nbsp;
    <b>City Name: </b><input type="text" ng-model="cityname"> &nbsp;
    <button id="btn" ng-click="getWeather()"> Show Weather for 5 hours </button>
    </br>
    <div class="weatherModule">
        <div  ng-repeat="y in currentweather" >
            <b>{{currentweather[$index]}}</b> <br>
            <img ng-src="{{currenticon[$index]}}" /><br>
        </div>
    </div>
</div>

<!--This is the controller code where the hhtp request is done and parse the json file to fetch the required data-->
<script>
    angular.module('weather',[])
        .controller('weatherctrl', function($scope, $http) {
            console.log("hi");
            $scope.getWeather = function() {
                 $http.get('http://api.wunderground.com/api/4bbbc25f4f5946dd/hourly/q/'+$scope.statecode+'/'+$scope.cityname +'.json').success(function(data)
                 {
                    icon=[];
                    $scope.currentweather=[];
                    console.log(data);

                    for (j=0;j<5;j++)
                     {
                         temp =data.hourly_forecast[j].temp.english ;
                         weathers=data.hourly_forecast[j].condition;
                         icon[j]= data.hourly_forecast[j].icon_url;

                         if(j==0)
                         {
                             $scope.currentweather[j]= "Temperature in " + $scope.cityname + " after  "+ (j+1) + " hour is - " + temp + " F and " + weathers ;
                         }
                         else
                             $scope.currentweather[j]= "Temperature in " + $scope.cityname + " after  "+ (j+1) + " hours is - " + temp + " F and " + weathers ;
                     }
                     $scope.currenticon=icon;
                     // console.log($scope.currenticon);

                })
            }

        });
</script>
</body>
</html>